/*Theme Name: Ревизор
Author URI: http://web-promise.com
Author: Lukovoy Yuriy
Version: 1.0
*/
*, *:after, *:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
[class*='grid-']{float:left;padding:10px;width:100%;}
.clear-grid{clear:both;float:inherit;}
.container{margin:0%;width:100%;}
.container:after, .container:before{display:table;clear:both;content:" ";}
.nest{margin:0 -10px;padding:0;width:auto;}
.grid-m-12{width:100%;}
.grid-m-11{width:91.666663%;}
.grid-m-10{width:83.33%;}
.grid-m-9{width:74.999997%;}
.grid-m-8{width:66.66666664%;}
.grid-m-7{width:58.333%;}
.grid-m-6{width:50%;}
.grid-m-5{width:41.6665%;}
.grid-m-4{width:33.33%;}
.grid-m-3{width:24.99%;}
.grid-m-2{width:16.66666%;}
.grid-m-1{width:8.33%;}
@media (min-width:720px){.grid-12{width:100%;}
.grid-11{width:91.666663%;}
.grid-10{width:83.33%;}
.grid-9{width:74.999997%;}
.grid-8{width:66.66666664%;}
.grid-7{width:58.333%;}
.grid-6{width:50%;}
.grid-5{width:41.6665%;}
.grid-4{width:33.33%;}
.grid-3{width:24.7%;}
.grid-2{width:16.66666%;}
.grid-1{width:8.33%;}
.grid-t-12{width:100%;}
.grid-t-11{width:91.666663%;}
.grid-t-10{width:83.33%;}
.grid-t-9{width:74.999997%;}
.grid-t-8{width:66.66666664%;}
.grid-t-7{width:58.333%;}
.grid-t-6{width:50%;}
.grid-t-5{width:41.6665%;}
.grid-t-4{width:33.33%;}
.grid-t-3{width:24.99%;}
.grid-t-2{width:16.66666%;}
.grid-t-1{width:8.33%;}
}
@media only screen and (min-width:1024px){.grid-tl-12{width:100%;}
.grid-tl-11{width:91.666663%;}
.grid-tl-10{width:83.33%;}
.grid-tl-9{width:74.999997%;}
.grid-tl-8{width:66.66666664%;}
.grid-tl-7{width:58.333%;}
.grid-tl-6{width:50%;}
.grid-tl-5{width:41.6665%;}
.grid-tl-4{width:33.33%;}
.grid-tl-3{width:24.99%;}
.grid-tl-2{width:16.66666%;}
.grid-tl-1{width:8.33%;}
}
@media only screen and (min-width:1200px){.container{max-width:1180px;margin:0 auto;}
.container-fluid{max-width:90%;margin:0 5%;}
.grid-d-12{width:100%;}
.grid-d-11{width:91.666663%;}
.grid-d-10{width:83.33%;}
.grid-d-9{width:74.999997%;}
.grid-d-8{width:66.66666664%;}
.grid-d-7{width:58.333%;}
.grid-d-6{width:50%;}
.grid-d-5{width:41.6665%;}
.grid-d-4{width:33.33%;}
.grid-d-3{width:24.99%;}
.grid-d-2{width:16.66666%;}
.grid-d-1{width:8.33%;}
}
img.scale, img.responsive{max-width:100%;height:auto;}

 /* Ignore this stylesheet*/
 body {font-family: 'PT Serif', serif; font-size: 16px;}

 h1 {font-size: 32px; line-height: 1.3em; text-transform: uppercase; margin-bottom: 20px; color: #945a00}
 h2 {font-size: 28px; line-height: 1.3em; text-transform: uppercase; margin-bottom: 20px;}
 h3 {font-size: 24px; line-height: 1.3em; margin-bottom: 20px;}

p {margin-bottom: 20px;}
a {color: #794800}
a:hover {text-decoration: none; cursor: pointer}
 .break{margin:0;padding:0;clear:both}
 .alignleft{float:left; margin:0 20px 20px 0}
 .alignright{float:right; margin:0 0 10px 10px}
 .aligncenter{text-align:center}
 .hidden{display:none}

 header {padding-top: 5px}
 header .logo {float: left; margin-right: 40px;}
 header p.license {margin-top: 10px}
 header .phone01 {font-size: 24px; line-height: 32px; margin-top: 15px; text-align: center}
 header .phone02 {font-size: 24px; line-height: 32px; margin-top: 15px;background: url("images/mobile.jpg") no-repeat 0 8px; padding: 0 0 0 80px}
 header .local {padding: 0 0 8px 30px; background: url("images/local.jpg") no-repeat 0 0; margin-bottom: 0}
 header .local:first-child {margin-top: 25px}
 header p {margin-bottom: 0}
#topmenu ul {list-style-type: none; margin: 0}
#topmenu ul li {display: inline-block; font-size: 18px;}
 #topmenu ul li.sitemap a {text-indent: -999999px; width: 23px; background-position: center center; background-repeat: no-repeat; background-image: url("images/sitemap.png")}
 #topmenu ul li a {display: block; padding: 15px 22px; text-decoration: none; color: #945a00}
 #topmenu ul li a:hover {color: #fff; background-color: #945a00}
 #topmenu ul li.cur a,
 #topmenu ul li.current-menu-item a,
 #topmenu ul li.current-post-parent a,
 #topmenu ul li.current-menu-parent a,
 #topmenu ul li.current-post-ancestor a,
 #topmenu ul li.current-category-ancestor a {color: #fff; background-color: #945a00}

 #bottommenu {background: #1a1a1a}
 #bottommenu  ul {list-style-type: none}
 #bottommenu  ul li {display: inline-block; font-size: 18px;}
 #bottommenu  ul li {width: 24%; text-align: center; border-bottom: 5px  #1a1a1a solid; line-height: 1em; background-repeat: no-repeat; background-position: center 25px; }
 #bottommenu  ul li a {color: #fff; text-decoration: none; padding: 90px 0 20px; display: block}
 #bottommenu  ul li:hover {border-bottom: 5px  #945a00 solid }
 #bottommenu  ul li a:hover {color:   #945a00}
 #bottommenu ul li.current-menu-item,
 #bottommenu ul li.current-post-parent,
  #bottommenu ul li.current-post-ancestor,
 #bottommenu ul li.current-category-ancestor{border-bottom: 5px  #945a00 solid; }
 #bottommenu ul li.current-menu-item a,
 #bottommenu ul li.current-post-parent a,
 #bottommenu ul li.current-menu-parent a,
 #bottommenu ul li.current-post-ancestor a,
 #bottommenu ul li.current-category-ancestor a { color:   #945a00}
 
 #bottommenu  ul li.fiz {background-image: url("images/fiz.png")}
 #bottommenu  ul li.yur {background-image: url("images/yur.png")}
 #bottommenu  ul li.org {background-image: url("images/org.png")}
 #bottommenu  ul li.exp {background-image: url("images/exp.png")}

 #slide {height: 500px; position: relative; overflow: hidden}
 #slide ul {list-style-type: none; height: 500px; width: 100%; overflow: hidden; display: block; z-index: 1;}
 #slide ul li {padding: 100px 0; display: block; height: 500px; width: 100%; background-position: center center; background-repeat: no-repeat; background-size: cover; text-align: center; color: #fff;}
 #slide ul li p {font-size: 18px; line-height: 1.5em; font-style: italic; margin-bottom: 20px;}
 #slide ul li p.title {font-style: normal; font-size: 40px}
 #slide ul li a { display: inline-block; color: #fff; background: #945a00; text-decoration: none; padding: 15px 50px;  }
 #slide ul li a:hover {background: #794800 }

 #slide .bx-pager {position: absolute; display: block; z-index: 10; bottom: 30px; text-align: center; width: 100%}
 #slide .bx-pager-item {display: inline-block; color: #fff; width: 17px; margin: 0 3px;}
 #slide .bx-pager-item a {display: block; width: 17px; height: 17px; text-indent: -999999px; background: url("images/pager.png") right 0}
 #slide .bx-pager-item a:hover,  #slide .bx-pager-item a.active { background-position:  0 0}

 #slide .bx-prev, #slide .bx-next { display: block; z-index: 10; width: 67px; height: 67px; position: absolute; top: 50%; margin-top: -18px; text-indent: -999999px; background: url("images/prevnext.png") no-repeat 0 0;}
 #slide .bx-prev { left: 20px;}
 #slide .bx-prev:hover {background-position: 0 bottom}
 #slide .bx-next { right: 20px; background-position: right 0}
 #slide .bx-next:hover {background-position: right bottom}

.more { display: inline-block; color: #fff; background: #945a00; text-decoration: none; padding: 10px 50px;  }
 .more:hover {background: #794800 }

 .screen_02 {width: 100%; min-height: 730px;  background: url("images/screen_02.jpg") no-repeat center bottom; position: relative }
 .screen_02 .container {padding: 30px 0 180px; display: block; z-index: 10; position: relative}
 .screen_02 .romb {width: 214px; height: 320px; position: absolute; bottom: 0; left: 0; display: block; z-index: 1; background: url("images/romb.png") no-repeat 0 0}

 .screen_03 {padding:  0 0 30px; background: #f8f8f8; position: relative}
 .screen_03 h2 {margin-top: -100px}
 .screen_03 h3.fizlica {padding-left: 50px; background: url("images/fizh3.png") no-repeat 0 center}
 .screen_03 h3.yurlica {padding-left: 40px; background: url("images/yurh3.png") no-repeat 0 center}
 .screen_03 .fizul  { list-style-type: none}
 .screen_03 .fizul li{ width: 45%; margin: 0 3.5% 20px 0; display: inline-block;}
 .screen_03 .fizul li div{ height: 100px; display: table; }
 .screen_03 .fizul li a { text-decoration: none; color: #000; position: relative; padding: 10px 0 10px 110px; display: block }
 .screen_03 .fizul li a:hover {color: #794800}
 .screen_03 .fizul li img {position: absolute; top: 0; left: 0}

 .uslarch {list-style-type: none; margin: 0 0 20px;}
 .uslarch li{ width: 23.7%;  margin: 0 1% 30px 0; display: inline-block; min-height: 100px; vertical-align: top}
 .uslarch li a { position: relative; padding: 10px 0 10px 110px; display: block}
 .uslarch li img {position: absolute; top: 0; left: 0}
 .screen_04 {position: relative; padding: 30px 0; background: url("images/screen_04.jpg") no-repeat 0 0; min-height: 530px;}

 .dubleromb {position: absolute; top: 0; right: 0; width: 430px; height: 380px; background: url("images/dubleromb.png") no-repeat 0 0; margin-top: -150px;}

.singlepost {padding: 30px 0; background: url("images/single.jpg") no-repeat center center; background-size: cover}
 .singlepost h2 {margin-top: 0px}
 .singlepost ul {margin: 0 0 20px 20px}
 .grey {padding: 20px; background: #f8f8f8; margin-bottom: 20px}
h2.msk {text-align: center; padding: 20px 0; background: url("images/mskh2.jpg") no-repeat center center; background-size: cover; display: block; color: #794800}
h2.spb {text-align: center; padding: 20px 0; background: url("images/spbh2.jpg") no-repeat center center; background-size: cover; display: block; color: #794800}

.article {margin-bottom: 20px;}
 .article img {float: left; margin: 0 20px 20px 0}

 #map {width: 100%; height: 500px; position: relative; overflow: hidden}
 #map .section {position: relative; z-index: 1}
 #map .container {position: relative; z-index: 100}
 #map_canvas_msk, #map_canvas_spb{
  width:100%;
  height:500px;
  background-repeat:none;
  display: block;z-index: 1;
  background-repeat: no-repeat; background-position: center center; background-size: cover;
 }
 .tabs {position: absolute; left: 0; list-style-type: none; bottom: 0; display: block; z-index: 100}
 .tabs li { float: left; margin-left: 10px; font-weight: bold; line-height: 1em; background: #eee;  padding: 15px 50px;  }
 .tabs li.current {color: #fff; background: #945a00; }
 .tabs li:hover {cursor: pointer; background: #1a1a1a; color: #fff}
 .box {display: none;  color: #fff;}
 .box.visible {display: block;  z-index: 1}

 .faq {margin-bottom: 20px; border-bottom: 1px #e4e4e4 solid}
  .faq .answer {padding-left: 30px}
 .faq .title {font-style: italic; font-weight: bold; margin-bottom: 20px}

 .faq:last-child {border-bottom: none;}
 
 form input {height: 40px; display: block; padding: 10px 20px; margin-bottom: 5px; width: 300px;}
form textarea {height: 120px; display: block; padding: 20px;  margin-bottom: 5px; width: 300px;}
 form input[type="submit"] {height: 40px;  padding: 0 20px; width: 300px; margin: 0 auto; color: #fff; background: #1a1a1a; border: none}
 form input[type="submit"]:hover {background: #945a00; cursor: pointer }
 
 #formblock { position: absolute; width: 320px; right: 0; top: -450px; text-align: center}
 #formblock input {height: 40px; display: block; padding: 0 20px; width: 320px}
 #formblock textarea {height: 120px; display: block; padding: 20px; width: 320px}
 #formblock input[type="submit"] {height: 40px;  padding: 0 20px; width: 250px; margin: 0 auto; color: #fff; background: #1a1a1a; border: none}
 #formblock input[type="submit"]:hover {background: #945a00; cursor: pointer }




 article table {width: 100%; margin-bottom: 20px; }
 article table td {padding: 7px 20px; border: none; margin: 0}
 article table tr:nth-child(odd) {background: #f2f2f2}
 article table.price { border-bottom: 1px #f2f2f2 solid}
 article table.price tr td:last-child {font-weight: bold}
article ul {margin: 0 0 20px 20px}
 footer {padding: 30px; background: #1a1a1a; color: #fff; font-size: 14px}
 footer a {color: #fff}
 .copy {color:#a79e9e}
 footer ul {padding: 0 30px; list-style-type: none}
 footer ul li {display: inline-block; vertical-align: top; width: 44%; margin: 0 5% 10px 0; }
 footer ul li a {background: url("images/footerli.png") no-repeat 0 -22px; padding-left: 15px; display: block}
 footer ul li a:hover {background: url("images/footerli.png") no-repeat 0 10px; color: #945a00;}
 article img {max-wight: 95%}
 
 .shemadiv {float: none; display: inline-block; vertical-align: top;}
 .shemadiv  a.more {display:none}
.shemadiv.post_95  a.more {display: inline-block; margin-top: 10px}



/*------------- Modal --------------------------*/
.box-modal{position:relative; padding:20px; width: 280px; background: url(images/screen_02.jpg) no-repeat 0 0; background-size: cover}

.box-modal form p{margin-bottom: 5px; clear:both}

.box-modal input {width: 100%; height: 40px; margin-bottom: 5px;  }
.box-modal input.tel {text-indent: 20px; background: #fff url("images/tel.jpg") no-repeat 8px center;}
.box-modal input[type="submit"]{
  height: 40px;  width: 100%; margin: 0 auto; color: #fff; background: #1a1a1a; border: none
 }
.box-modal input[type="submit"]:hover {background: #945a00; cursor: pointer }


.box-modal_close{position:absolute; right:5px; top:5px; width:20px; height:20px; background:url(images/close.png) no-repeat center center; cursor:pointer}
.box-modal  .title {text-align: center; font-size: 24px;  margin-bottom: 10px; font-weight: bold}
.arcticmodal-overlay,
.arcticmodal-container{position:fixed; left:0; top:0; right:0; bottom:0; z-index:1000}
.arcticmodal-container{overflow:auto; margin:0; padding:0; border:0; border-collapse:collapse}
*:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i{height:100%; margin:0 auto}
.arcticmodal-container_i2{padding:24px; margin:0; border:0; vertical-align:middle}
.arcticmodal-error{padding:20px; border-radius:10px; background:#000; color:#fff}
.arcticmodal-loading{width:80px; height:80px; border-radius:10px; background:#000 url(images/loading.gif) no-repeat 50% 50%}

.spoiler-head {text-decoration: underline; color: #794800}
.spoiler-head:hover {text-decoration: none; cursor: pointer}
.hp-wrap {display:none}

@media (max-width:768px){
  header .grid-3{
    height: auto!important;
    width: 100%!important;
    margin: 0!important;
    text-align: center;
  }
  header .local{
    display: inline-block;
  }
  header .container .grid-3:first-child p{
    display: block;
    width: 100%;
    float: left;
  }
  header .logo{
    margin-right: 0;
    float: none;
    display: inline-block;
    margin-bottom: 15px;
  }
  header .phone01{
    margin-bottom: 30px;
  }
}


.team-wrap{font-family: Arial, sans-serif;margin-bottom: 5rem;}
.team-img{}
.team-img>img{    border-radius: 50%;}
.team-name{
 font-size: 1.3rem;
 text-align: center;
 margin-top: 2rem;
 margin-bottom: 0.7rem;
}
.team-skil{text-align: center;color: #8c8c8c;font-size: 1rem;}
.team-descrp{

}
.team-link{
text-align: center;
}

.team-link>a{
 background-color: #f44336;
 padding: 0.3rem 2rem;
 color: #fff;
 font-weight: bold;
 text-transform: uppercase;
 text-decoration: none;
 border-radius: 3px;
}

.navigation{margin-left: 40%}
.btn-group-uslug{margin:2rem 0 10rem}

@media (min-width: 720px) {/* обмен местами */
 .mobile-view {
  position: relative;
 }
 .grid-2.mobile-view {
  right: 66.66666%;
 }
 .grid-8.mobile-view {
  right: -16.66666%;
 }
}


/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/5hX15RUpPERmeybVlLQEWBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/fU0HAfLiPHGlZhZpY6M7dBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/CPRt--GVMETgA6YEaoGitxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3ifesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpDTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpDUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/O_WhD9hODL16N4KLHLX7xSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/3Nwg9VzlwLXPq3fNKwVRMCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/b31S45a_TNgaBApZhTgE6CEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9ede9INZm0R8ZMJUtfOsxrw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9bpHcMS0zZe4mIYvDKG2oeM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9RHJTnCUrjaAm2S9z52xC3Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9YWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
