 /* Ignore this stylesheet*/
 body {font-family: 'PT Serif', serif; font-size: 16px;}

 h1 {font-size: 40px; line-height: 1.3em; text-transform: uppercase; margin-bottom: 20px; color: #945a00}
 h2 {font-size: 30px; line-height: 1.3em; text-transform: uppercase; margin-bottom: 20px;}
 h3 {font-size: 24px; line-height: 1.3em; margin-bottom: 20px;}

p {margin-bottom: 20px;}
a {color: #794800}
a:hover {text-decoration: none}
 .break{margin:0;padding:0;clear:both}
 .alignleft{float:left; margin:0 20px 20px 0}
 .alignright{float:right; margin:0 0 10px 10px}
 .aligncenter{text-align:center}
 .hidden{display:none}

 header {padding-top: 5px}
 header .logo {float: left; margin-right: 40px;}
 header p.license {margin-top: 30px}
 header .phone01 {font-size: 24px; line-height: 32px; margin-top: 15px; text-align: center}
 header .phone02 {font-size: 24px; line-height: 32px; margin-top: 15px;background: url("images/mobile.jpg") no-repeat 0 8px; padding: 0 0 0 80px}
 header .local {padding: 0 0 8px 30px; background: url("images/local.jpg") no-repeat 0 0; margin-bottom: 0}
 header .local:first-child {margin-top: 25px}
	 
#topmenu ul {list-style-type: none}
#topmenu ul li {display: inline-block; font-size: 18px;}
 #topmenu ul li.sitemap a {text-indent: -999999px; width: 23px; background-position: center center; background-repeat: no-repeat; background-image: url("images/sitemap.png")}
 #topmenu ul li a {display: block; padding: 15px 27px; text-decoration: none; color: #945a00}
 #topmenu ul li a:hover {color: #fff; background-color: #945a00}
 #topmenu ul li.cur a {color: #fff; background-color: #945a00}

 #bottommenu {background: #1a1a1a}
 #bottommenu  ul {list-style-type: none}
 #bottommenu  ul li {display: inline-block; font-size: 18px;}
 #bottommenu  ul li {width: 24%; text-align: center; border-bottom: 5px  #1a1a1a solid; line-height: 1em; background-repeat: no-repeat; background-position: center 25px; }
 #bottommenu  ul li a {color: #fff; text-decoration: none; padding: 90px 0 20px; display: block}
 #bottommenu  ul li:hover {border-bottom: 5px  #945a00 solid }
 #bottommenu  ul li a:hover {color:   #945a00}
 #bottommenu  ul li.fiz {background-image: url("images/fiz.png")}
 #bottommenu  ul li.yur {background-image: url("images/yur.png")}
 #bottommenu  ul li.org {background-image: url("images/org.png")}
 #bottommenu  ul li.exp {background-image: url("images/exp.png")}

 #slide {height: 500px; position: relative; overflow: hidden}
 #slide ul {list-style-type: none; height: 500px; width: 100%; overflow: hidden; display: block; z-index: 1;}
 #slide ul li {padding: 100px 0; display: block; height: 500px; width: 100%; background-position: center center; background-repeat: no-repeat; background-size: cover; text-align: center; color: #fff;}
 #slide ul li p {font-size: 18px; line-height: 1.5em; font-style: italic; margin-bottom: 20px;}
 #slide ul li p.title {font-style: normal; font-size: 40px}
 #slide ul li a { display: inline-block; color: #fff; background: #945a00; text-decoration: none; padding: 15px 50px;  }
 #slide ul li a:hover {background: #794800 }

 #slide .bx-pager {position: absolute; display: block; z-index: 10; bottom: 30px; text-align: center; width: 100%}
 #slide .bx-pager-item {display: inline-block; color: #fff; width: 17px; margin: 0 3px;}
 #slide .bx-pager-item a {display: block; width: 17px; height: 17px; text-indent: -999999px; background: url("images/pager.png") right 0}
 #slide .bx-pager-item a:hover,  #slide .bx-pager-item a.active { background-position:  0 0}

 #slide .bx-prev, #slide .bx-next { display: block; z-index: 10; width: 67px; height: 67px; position: absolute; top: 50%; margin-top: -18px; text-indent: -999999px; background: url("images/prevnext.png") no-repeat 0 0;}
 #slide .bx-prev { left: 20px;}
 #slide .bx-prev:hover {background-position: 0 bottom}
 #slide .bx-next { right: 20px; background-position: right 0}
 #slide .bx-next:hover {background-position: right bottom}

.more { display: inline-block; color: #fff; background: #945a00; text-decoration: none; padding: 15px 50px;  }
 .more:hover {background: #794800 }

 .screen_02 {width: 100%; min-height: 730px;  background: url("images/screen_02.jpg") no-repeat center center; position: relative }
 .screen_02 .container {padding: 120px 0 120px; display: block; z-index: 10; position: relative}
 .screen_02 .romb {width: 214px; height: 320px; position: absolute; bottom: 0; left: 0; display: block; z-index: 1; background: url("images/romb.png") no-repeat 0 0}

 .screen_03 {padding:  0 0 30px; background: #f8f8f8; position: relative}
 .screen_03 h2 {margin-top: -100px}
 .screen_03 h3.fizlica {padding-left: 50px; background: url("images/fizh3.png") no-repeat 0 center}
 .screen_03 h3.yurlica {padding-left: 40px; background: url("images/yurh3.png") no-repeat 0 center}
 .screen_03 .fizul  { list-style-type: none}
 .screen_03 .fizul li{ width: 45%; margin: 0 3.5% 20px 0; display: inline-block;}
 .screen_03 .fizul li div{ height: 100px; display: table; }
 .screen_03 .fizul li a { text-decoration: none; color: #000}
 .screen_03 .fizul li a:hover {color: #794800}
 .screen_03 .fizul li img {float: left; margin-right: 20px}

 .uslarch {list-style-type: none; margin: 0 0 20px;}
 .uslarch li{ width: 23.7%;  margin: 0 1% 30px 0; display: inline-block; min-height: 100px; vertical-align: top}
 .uslarch li a { position: relative; padding: 20px 0 20px 110px; display: block}
 .uslarch li img {position: absolute; top: 0; left: 0}
 .screen_04 {position: relative; padding: 30px 0; background: url("images/screen_04.jpg") no-repeat 0 0; min-height: 530px;}

 .dubleromb {position: absolute; top: 0; right: 0; width: 430px; height: 380px; background: url("images/dubleromb.png") no-repeat 0 0; margin-top: -150px;}

.single {padding: 30px 0; background: url("images/single.jpg") no-repeat center center; background-size: cover}
 .single h2 {margin-top: 0px}
 .single ul {margin: 0 0 20px 20px}
 .grey {padding: 20px; background: #f8f8f8; margin-bottom: 20px}
h2.msk {text-align: center; padding: 20px 0; background: url("images/mskh2.jpg") no-repeat center center; background-size: cover; display: block; color: #794800}
h2.spb {text-align: center; padding: 20px 0; background: url("images/spbh2.jpg") no-repeat center center; background-size: cover; display: block; color: #794800}

.article {margin-bottom: 20px;}
 article img {float: left; margin: 0 20px 20px 0}

 #map {width: 100%; height: 500px; position: relative; overflow: hidden}
 #map .section {position: relative; z-index: 1}
 #map .container {position: relative; z-index: 100}
 #map_canvas_msk, #map_canvas_spb{
  width:100%;
  height:500px;
  background-repeat:none;
  display: block;z-index: 1;
  background: url("images/map.jpg") no-repeat center center; background-size: cover;
 }
 .tabs {position: absolute; left: 0; list-style-type: none; bottom: 0; display: block; z-index: 100}
 .tabs li { float: left; margin-left: 10px; font-weight: bold; line-height: 1em; background: #eee;  padding: 15px 50px;  }
 .tabs li.current {color: #fff; background: #945a00; }
 .tabs li:hover {cursor: pointer}
 .box {display: none;  color: #fff;}
 .box.visible {display: block;  z-index: 1}

 .faq {margin-bottom: 20px; border-bottom: 1px #e4e4e4 solid}
 .faq p.title {font-style: italic; font-weight: bold}
 .faq p.answer {padding-left: 30px}
 .faq:last-child {border-bottom: none;}

 #formblock { position: absolute; width: 320px; right: 0; top: -450px; text-align: center}
 #formblock input {height: 40px; display: block; padding: 0 20px; width: 320px}
 #formblock textarea {height: 120px; display: block; padding: 20px; width: 320px}
 #formblock input[type="submit"] {height: 40px;  padding: 0 20px; width: 250px; margin: 0 auto; color: #fff; background: #1a1a1a; border: none}
 #formblock input[type="submit"]:hover {background: #945a00; cursor: pointer }


 table {width: 100%; margin-bottom: 20px; }
 table td {padding: 7px 20px; border: none; margin: 0}
 table tr:nth-child(odd) {background: #f2f2f2}
 table.price { border-bottom: 1px #f2f2f2 solid}
 table.price tr td:last-child {font-weight: bold}

 footer {padding: 30px; background: #1a1a1a; color: #fff}
 footer a {color: #fff}
 .copy {color:#a79e9e}
 footer ul {padding: 0 30px; list-style-type: none}
 footer ul li {display: inline-block; vertical-align: top; width: 44%; margin: 0 5% 10px 0; }
 footer ul li a {background: url("images/footerli.png") no-repeat 0 -22px; padding-left: 15px;}
 footer ul li a:hover {background: url("images/footerli.png") no-repeat 0 10px; color: #945a00;}