@media screen and (max-width:768px){
.grid-3 {width: 50%}
header .grid-3 {height: 100px;}
 .screen_03 .fizul li {width: 90%; padding: 0 4%; float: none;}
 #topmenu {display: none}
 .shemabl {display: none}
}

@media screen and (max-width:480px){
.grid-3, .uslarch li {width: 100%}
.license {display: none}
 header .forblock {display:none}
  #bottommenu  ul li {width: 48%;}
  .tabs  {display: none;}
  .price {font-size: 14px;}
}